<!-- Start Footer contact -->
<section class="footer-contact">
  <div class="container">
    <div class="footer-contact-wrapper">
      <a href="callto:966 0789 06541" target="_blank" class="contact-block link__">
        <figure class="figure-block figure__">
          <img class="img-om" src="./assets/images/footer/call 1.png" alt="..." />
        </figure>
        <div class="contact-desc">
          <h5 class="title">إتصل بنا</h5>
          <span class="subtitle">+96605296972</span>
        </div>
      </a>
      <a href="mailto:Info@lawyers.com" target="_blank" class="contact-block link__">
        <figure class="figure-block figure__">
          <img class="img-om" src="./assets/images/footer/message.png" alt="..." />
        </figure>
        <div class="contact-desc">
          <h5 class="title">راسلنا عبر البريد الالكتروني</h5>
          <span class="subtitle">Info@exampel.com</span>
        </div>
      </a>
    </div>
  </div>
</section>
<!-- End Footer contact -->
<footer class="footer_sec__">
  <div class="container">
    <div class="footer-wrapper with_row_gap footer_content__">
      <div class="footer-log-desc">
        <figure class="footer_logo__ figure__">
        </figure>
        <p class="footer_parg">

          شركة الميزان للإستشارات القانونية والمحاماة هي شركة قانونية متخصصة تقدم خدمات متكاملة للأفراد والشركات في
          مختلف المجالات
          القانونية.
          تضم نخبة من المحامين والمستشارين ذوي الخبرة الواسعة في الأنظمة القضائية والشرعية بالمملكة العربية السعودية.
          تسعى الشركة إلى تحقيق العدالة والدفاع عن حقوق عملائها بكفاءة ومهنية عالية.
          تغطي خدماتها الاستشارات القانونية، وتمثيل العملاء أمام المحاكم، وصياغة العقود، وحل النزاعات بالطرق الودية
          والقضائية.
        </p>
      </div>
      <div class="footer-links">
        <h3 class="footer_head__">روابط سريعة:</h3>
        <ul class="footer_list__ list-unstyled">
          <li><a href="index.html">الرئيسية</a></li>
          <li><a href="our-lawyers.html">محامينا</a></li>
          <li><a href="experience.html">أعمالنا</a></li>
          <li><a href="contact.html">الموقع</a></li>
        </ul>
      </div>
      <div class="footer-socials">
        <h3 class="footer_head__">تابعنا من خلال:</h3>
        <ul class="footer_socials__ list-unstyled">
          <li class="li__">
            <a href="https://www.instagram.com/" class="link__ footer_link__">
              <img class="icon__" src="./assets/images/footer/instgram.png" alt="..." />
            </a>
          </li>
          <li class="li__">
            <a href="https://www.linkedin.com/login/ar" class="link__ footer_link__">
              <img class="icon__" src="./assets/images/footer/linkedin.png" alt="..." />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copyrights_content___">
    جميع الحقوق محفوظة محمد حسن السهلي 2024
  </div>
</footer>