<header class="main_header__ flow_hidden">
  <div class="fixed_header__">
    <div class="container">
      <div class="header_content__">
        <a class="header_logo__" href="index.html">
          <figure class="figure__">
          </figure>
        </a>

        <nav class="nav-om" id="navbar-menu-om">
          <button class="close-button__"></button>

          <figure class="figure__ nav_logo__">
            <img src="./assets/images/main-logo.png" alt=".." />
          </figure>

          <ul class="nav-list-om list-unstyled">
            <li class="header_list_item__ active">
              <a href="index.html">الرئيسية</a>
            </li>
            <li class="header_list_item__">
              <a href="about_us.html">نبذه عنا</a>
            </li>

            <li class="header_list_item__">
              <a href="service.html">الخدمات القانونية</a>
            </li>
            <li class="header_list_item__">
              <a href="experience.html">خبراتنا</a>
            </li>
            <li class="header_list_item__">
              <a href="our-lawyers.html">محامينا </a>
            </li>
            <li class="header_list_item__">
              <a href="contact.html">إتصل بنا </a>
            </li>
            <li class="header_list_item__ li_login">
              <a href="login.html">تسجيل دخول  </a>
            </li>
            <li class="header_list_item__ li_login">
              <a href="signup.html">تسجيل </a>
            </li>
          </ul>

        </nav>

        <!-- start active nenu button in small sizes  -->
        <button class="menu_button__ button__" id="menu-butt-activ-om">
          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars"
            class="svg-inline--fa fa-bars fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path fill="currentColor"
              d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z">
            </path>
          </svg>
        </button>
        <!-- end active nenu button in small sizes  -->
      </div>
    </div>
    <div class="overlay"></div>
  </div>
</header>