// Main colors
$primaryColor: #23244a;
$secondaryColor: #c69a64;
$thirdColor: #0773b8;
$bgCard: #f5f5f5;
$greyColor: rgba(#9b9b9b, 0.16);
$greenColor: #00cc30;
$secondGreyColor: #9b9b9b;
$mainRedColor: #f0053c;
$orangeColor: #efb104;

$borderColor: rgba(#363443, 0.28);
$mainBackgroundColor: #f2f3fc;
$borderBreakColor: #d9e0e5;

// Head colors
$headingMainColor: #2d2d2d;
$headingSecondaryColor: #394444;
$headingThirdColor: #17355a;

// Paragraph Colors
$paragraphMainColor: #666666;
$paragraphSecondaryColor: #9b9b9b;

//Brands Colors
$twitterColor: #14171a;
$twitterSecondaryColor: #1da1f2;
$facebookColor: #1877f2;
$linkedinColor: #0a66c2;
$whatsappColor: #075e54;
$instagramColor: #405de6;
$instagramSecondaryColor: #fd1d1d;
$snapchatColor: #fffc00;

//Border radius
$mainBorderRadius: 10px;
$secondaryBorderRadius: 5px;
$thirdBorderRadius: 20px;
$dir: "ltr";
