.fancybox_title__ {
  text-align: center;
  color: #fff;
  font-size: 1.8rem;
  margin-top: 10px;
}

.fancybox_parag__ {
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
  margin-top: 10px;
}